*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body{
    background-color:#f5f5f5;
    padding: 20px;

}
h1{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

#box{
    width: 350px;
    margin: auto;
    background-image: url(https://img.freepik.com/free-vector/particle-lines-futuristic-gradient-background_53876-117189.jpg?semt=ais_incoming&w=740&q=80);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px gray;
}

.input-field{
    width: 100%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}
input[type="text"]{
    background-color:#fafafa ;
}

div p{
    color: #444;
    font-size: 14px;
}
div> p{
    margin: 5px;
}
p:first-child{
    font-weight: bold;
    color: #222;
}
a:hover{
    color: red;
}
a:visited{
    color: purple;
}
a:active{
    color: green;
}

#submit-btn{
    background: #333;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    margin-top:15px;
    border-radius: 20px;
    cursor: pointer;
}
#submit-btn:hover{
     background: rgb(54, 193, 228);
}

