*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* navbar section*/
.navbar{
    width: 100%;
    height: 70px;
    /*background: linear-gradient(90deg,#ca94b2 0%,#a26ae3 30%,#8fc0f0 60%,#98d0da 100% );*/
    background-color: #ffffff;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:fixed;
    top: 0;
    z-index: 100;
}

h3{
    color: rgb(0, 0, 0);
    margin-left: 40px;
    font-size: 28px;
    border: 1px solid #000000;
    padding: 5px 8px;
    border-radius: 7px;
    
}
ul li{
    color: rgb(0, 0, 0);
    list-style: none;
    display: inline;
    margin: 0px 20px;
    font-size: 20px;
    cursor: pointer;
}
ul li:hover{
    text-decoration: underline ;
    text-underline-offset: 4px;
    color: #3a8bdc;
}
.icons{
    margin-right: 30px;
    color:#fff;
}
.logo{
     display: flex;
     margin-left: 10px;
     align-items: center;
     justify-content: center;
     
}
.logo img{
    margin-top: 5px;
    height: 4rem;
    width: 4rem;
    border-radius: 2px;
}
.logo h1{
       margin-left: 5px;
       padding: 20px 5px;
       color: rgb(26, 77, 25);
}

/* main hero section */
.slide-section{
   position: relative;
   width: 100%;
   background-image: url(patratu.jpeg);
   height: 600px;
   background-size: cover;
   background-position: center;
   
}

.text{
   height: 50%;
   max-width: 80%;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 0.5rem;
   
}
.text h1{
     font-size: 3rem;
}
.text-para{
    color: #fff;
    font-size: 1.5rem;
}
.date-time-section{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 15px;
    padding-left: 20%;  
    margin-top: 50px;  
}
.date-time-section input{   
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 100px;
    border-radius: 5px;
    border: none;
    
}
.all-item{
    padding-top: 230px;
}

.find-button button{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: rgb(253, 99, 43);
    border-radius: 8px;
    cursor: pointer;
    border: none;
    color: white;
}
.find-button button:hover{
    background-color: #3a8bdc;
}
/* .date-time-section .time-date input{
    padding-right: 15px;
} */


/* package section*/
.card-container{
    /* display: flex;
    flex-wrap: wrap;
    background-color: rgb(249, 247, 247);
    justify-content: center;
    column-gap: 10px; */ 
     height: 100%;
     width: 100%;
     background-color: rgb(243, 243, 243);
    
     
}
.place-had{
    max-width: 80%;
    margin: 0 auto;
    padding-top: 2rem;
    padding-left: 1rem;
}
.place-had h1{
    margin-bottom: 2px;
}
.place-had p{
    padding-top: 15px;
}
.card-item{
    
      height: auto;
      max-width: 80%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      padding-top: 2rem;
      
}
.card{
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    height: 330px;
    width: 270px;
    background-color: #ffffff;
    margin: 1rem;
    /* padding: 1rem; */
    border:2px solid rgb(228, 227, 227);
    /* box-shadow: 1px solid black; */
    /* box-shadow: 0.5px 0.5px 30px 2px gray; */
    
    
}
.card-img{
    height: 60%;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    
}
.card-img img{
    height: 100%;
    width: 100%;
    overflow: hidden;
    
}
 .card-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 50%;
    width: 100%;
    overflow: hidden;
    /* text-align: center; */
    padding-left: 7px;
 } 
.card button{
    width: fit-content;
    padding: 0.5rem 1.5rem;
    /* #4caf50; hover-45a046 */
    background-color: rgb(253, 99, 43) ;
    border-radius: 10px;
    border: none;
}
.card button:hover{
    background-color: #2dbae1;
}
.menu-btn{
    display: none;
    font-size: 2rem;
    /* padding-top: 0.3rem; */
    padding-right: 1rem;
}
.gallery-container{
    height: 100%;
    width: 100%;
    display: flex;
    padding-top: 40px;
    padding-left: 165px;
    background-color: rgb(255, 255, 255);
    
}
.photo-1 img{
    height: 450px;
    width: 400px;
    border-radius: 30px;
    border: 10px solid gainsboro;
}
.text-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}
.hotel-container{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.top{
    max-width: 80%;
    margin: 0 auto;
    padding-top: 2rem;
    padding-left: 1rem;
}
.hotel-image{
    height: 60%;
    width: 100%;
}

a{
    text-decoration: none;
}
.panel{
    width: 100%;
    height: 400px;
    background-color: #ebebeb;
    padding-left: 45px;  
    padding-top: 20px;
}
.panel hr{
   padding-top: 10px;
}
.footer-items{
    display: flex;
    justify-content: center;
    gap: 5rem;
}
.footer-item-column{
    display: flex;
    flex-direction: column; 
    gap: 1rem;
    font-size: 15px;
    
    
}
.footer-item-column h2{
    padding-left: 18px;
}
.service-links{
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      color: #000000;  
      text-decoration: none; 
      font-size: 100px;
      
}

@media (max-width:900px){
    .icons{
        display: none;
    }
    .menu-btn{
        display: block;
    }
    .logo img{
        height: 3rem;
        width: 3rem;

    }
    .logo h1{
        font-size: 1.5rem;
    }
    .text h1{
        font-size: 1.5rem;
    }
    .text p{
        font-size: 1rem;
    }
    
}
/* @media (max-width:1155px){
        .date-time-section{
            flex-direction: column;
            height: 2rem;
            width: 2rem;
        }
} */



  











